* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/bg-physics.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    font-family: Helvetica, Arial, sans-serif;
}

/**** Grand container and other universal***/
.grand-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2 {
    letter-spacing: 2px;
}
a {
    text-decoration: none;
}
a:visited,a:link {
    text-decoration: none;
    color: inherit;
}


/***Header***/
.nav-bar {
    background-color: rgba(11, 11, 11, 0.8);
    display: flex;
    flex-direction: column;
    padding: 35px 10px 0px 10px;
    color: rgb(235, 233, 244);
}
.nav-bar > div {
    padding-top: 10px;
    position: sticky;
    top: 0;
}
.nav-list-container {
    padding-top: 5vw;

}
.nav-list-container > p {
    font-size: 0.8rem;
}
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size:1.3rem;
}
h1 {
    text-align: center;
    border: 2px solid rgb(232, 231, 238);
    padding: 15px 10px 15px 10px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
}
h1 > span {
    font-weight: normal;
}
header > p {
    text-align: center;
    font-size: 0.8rem;
    padding: 5px 20px 0 20px;
}
.nav-list p {
    border-top: 1px solid rgb(232, 231, 238);
    padding: 20px 0 20px 0;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

/***header-links-decoration***/
header a:hover h1, .nav-item > a:hover p {
    background-color: rgba(108, 108, 125, 0.8);
}



/*** MAIN BODY ***/
.main-body {
    margin-top: 45px;
    margin-right: 5vw;
    padding: 5vw 3vw 0 3vw;
    background-color: rgba(255, 253, 235, 0.7);
    border-radius: 50px;
    color: rgb(18, 18, 18)
}
.top-header {
    display: flex;
    gap: 20px;
}
.top-header>div>img {
    border-top: 5px solid rgb(111, 255, 188);
    border-right: 5px solid rgb(1,1,1,.5);
    border-left: 5px solid rgb(1,1,1,.5);
    border-bottom: 5px solid rgb(111, 255, 188);
    border-radius: 40px;
}
.overview {
    text-align: justify;
}
.overview > p {
    padding-top: 10px
}
/*** MAIN BODY - summary ***/
ul {
    list-style: none;
}
.summary section {
    border-right: 2px solid rgb(1,1,1,.5);
    border-left: 2px solid rgb(1,1,1,.5);
    border-bottom: 4px solid rgb(111, 255, 188);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.6);
}
.summary h2 {
    text-align: center;
    background-color: rgb(111, 255, 188);
    border-radius: 40px;
    padding: 10px; 
    transition: background-color 0.3s ease;
}
.summary section ul {
    padding: 10px 20px 10px 20px;
    text-align: justify;
    letter-spacing: 0.3px;
}
.summary img {
    text-align: center;
}

/*** main-body-education ***/
.info-university, .info-secondary, .info-tertiary {
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-bottom: 10px;
}

.edu-logo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    aspect-ratio: 1/1;
}
/*** main-body-skills ***/
.skills ul {
    list-style:circle;
    margin-left: 5px;
}
.skills p {
    text-align: left;
}

/*** Main-body-deco***/
.summary > section > a:hover h2 {
    background-color: rgb(64, 179, 125)
}



/*** Box sizing ***/
/*** Large devices***/
@media (min-width: 992px) {
    .grand-container {
        gap: 8vw;
    }
    .summary {
        margin-top: 5vw;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 300px;
        grid-template-rows: auto;
        
    }
    .education {grid-column: 1 / span 2; grid-row: 1;}
    .experience {grid-column: 1 / span 2; grid-row: 2;}
    .skills {grid-column: 3; grid-row: 1 / span 4;}
    

    /*** sizes ***/
    .col-ld-1 {flex-basis: 8.33%;}
    .col-ld-2 {flex-basis: 16.67%;}
    .col-ld-3 {flex-basis: 25%;}
    .col-ld-4 {flex-basis: 33.33%;}
    .col-ld-5 {flex-basis: 41.67%;}
    .col-ld-6 {flex-basis: 50%;}
    .col-ld-7 {flex-basis: 58.33%;}
    .col-ld-8 {flex-basis: 66.67%;}
    .col-ld-9 {flex-basis: 75%;}
    .col-ld-10 {flex-basis: 83.33%;}
    .col-ld-11 {flex-basis: 91.67%;}
    .col-ld-12 {flex-basis: 100%}
}

